body{
    background-color:#32a89d ;
}
.bigTitle{
    font-family: Cursive,"Apple Chancery",Cambria,sans-serif;
    color: black;
    font-size:5em;
    font-weight: bold;
    }
.profile{
    height: 250px;
}
.photoOfMembers{
    width: 250px;
    height: 200px;
}